{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href=" https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="static/css/Article-List.css">
    <link rel="stylesheet" href="static/css/Footer-Clean.css">
    <link rel="stylesheet" href="static/css/Header-Blue.css">
    <link rel="stylesheet" href="static/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="static/css/Navigation-Menu.css">
    <link rel="stylesheet" href="static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/styles.min.css">

</head>

<body class="container">
    <h2> Order Details </h2>
    <hr>
    
    <div class="row">
        
        <div class="col-sm-6">
            <form action="address" method="post">
                {% csrf_token %} 
                <h3> Add Address</h3>
               <div class="form-group"> <input class="form-control" type="text" name="adr1" placeholder="Address Line 1"></div>
                <div class="form-group"> <input class="form-control" type="text"  name="adr2" placeholder="Address Line 2"></div>
                <input class="btn btn-primary" type="submit" name="addAdress" value="Add">
            </form>
        </div>
        <div class="col-sm-6">
            <form action="payment" method="post">
                {% csrf_token %} 
                <h3> Add Payment method</h3>
                <div class="form-group"> <input class="form-control" type="text"  name="adr2" placeholder="Name on Card"></div>
                <div class="form-group"> <input class="form-control" type="text" name="adr1" placeholder="Card Number"></div>
                <div class="form-group"> <input class="form-control" type="date"  name="adr2" placeholder="Expiry Date"></div>
                 <div class="form-group"> <input class="form-control" type="text"  name="adr2" placeholder="CVV"></div>
                 <input class="btn btn-primary" type="submit" name="addAdress" value="Add Payment method">
            </form>
        </div>

    </div>
    <hr>
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary"> Pay Now</button>
    </div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>